<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>join test</title>
</head>
<body>
    <h1>회원가입 테스트</h1>
    <form action="/member/joinSet" method="post">
        <label>PHONE</label>
        <input type="text" name="_id" maxlength="11"><br>
        <label>PASSWORD</label>
        <input type="text" name="_pass" maxlength="16"><br>
        <label>BIRTHDAY</label>
        <input type="text" name="_birth"><br>
        <input type="submit" value="가입">
    </form>
</body>
</html>