<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login test</title>
</head>
<body>
    <h1>logintest</h1>
    <form action="/member/checkLogin" method="post">
        <label>PHONE</label>
        <input type="text" name="_id"><br>
        <label>PASSWORD</label>
        <input type="text" name="_pass"><br>
        <input type="submit" value="로그인">
    </form>
        <button onclick="location.href='/member/join'">회원가입</button>
</body>
</html>