<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
      <style>
         div {
            display: flex;
         }
      </style>
   </head>
   <body>
      <h1>로그인 영역</h1>
      <div></div>
      <h1>공지 영역</h1>
      <div>공지입니다(프론트)</div>
      <h1>굿즈 영역</h1>
      <div></div>
      <h1>광고 영역</h1>
      <div>광고입니다(프론트)</div>
   </body>
</html>
